node_modules/
public/
db.json
.DS_Store
*.log
source/videos/
source/fonts/strawberry.ttf
source/fonts/cat.ttf
source/fonts/dog.ttf
source/fonts/pixel.ttf
source/fonts/strawberry-subset.*
source/fonts/pixel-subset.*
